.MuiFormLabel-root.Mui-focused {
  color: #3a9198 !important;
  background-color: whitesmoke !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #3a9198 !important;
}

.css-q8fate-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: white !important;
}

.Mui-selected:hover {
  background-color: rgba(58, 145, 152, 0.08) !important;
}

.MuiDataGrid-root .MuiDataGrid-cell.MuiDataGrid-cell--editing:focus-within {
  outline: solid #3a9198 1px !important;
  outline-offset: -1px !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: solid #3a9198 1px !important;
}

.MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: rgba(58, 145, 152, 0.08) !important;
}

.tituloDetailHeader .MuiCardHeader-title {
  font-size: 20px !important;
}

.tituloDetailHeader .MuiCardHeader-subheader {
  font-size: 16px !important;
}

.bodyLabel {
  font-size: 16px !important;
}

.containerData {
  padding-right: 0 !important;
}

.tabsIndicators {
  background-color: white !important;
  color: gray !important;
  padding: 5px !important;
  border: 1px solid rgba(224, 224, 224, 1) !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.tabsIndicators1 {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;

}
.tabsIndicators2 {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.tabsIndicators.Mui-selected {
  background-color: #3a9198 !important;
  color: white !important;
}
.tabsIndicators.Mui-selected:hover {
  background-color: #3a9198 !important;
  color: white !important;
  opacity: 0.9 !important;
}

.tabsIndicators:hover {
  color: #3a9198 !important;
}


.css-1l3106v-MuiTabs-indicator {
  display: none !important;
  position: unset !important;
  left: 0 !important;
  width: 0 !important;
}

.css-118fhal-MuiTreeItem-root .MuiTreeItem-content.Mui-focused, .css-118fhal-MuiTreeItem-root .MuiTreeItem-content.Mui-selected, .css-118fhal-MuiTreeItem-root .MuiTreeItem-content.Mui-selected.Mui-focused{
  color: rgba(0, 0, 0, 0.6) !important;
}

.importsTotals{
  padding: 0 !important;
  text-align: center !important;
  align-items: center !important;
}