.MuiFormLabel-root.Mui-focused {
  color: #3a9198 !important;
  background-color: whitesmoke !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #3a9198 !important;
}

.MuiPaper-elevation8 {
  top: 170px !important;
}

.MuiPaper-elevation1 {
  top: 312px !important;
}


.css-q8fate-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: white !important;
}

.Mui-selected:hover {
  background-color: rgba(58, 145, 152, 0.08) !important;
}
 


